DB_USER=your_postgres_username
DB_HOST=localhost
DB_DATABASE=sweet_home_finder
DB_PASSWORD=your_postgres_password
DB_PORT=5432
BACKEND_PORT=express.js_server_port
JWT_SECRET=5pVf1DvWPNWpI8Wtksdintjb3RPtnjYG5Yq8d/se1Cs=